body {
  background-color: lightgray;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.AppHeader {
  font-size: 1.5rem;
}
.container {
  padding-top: 2rem;
}

.card_block {
  border: 1px solid black;
  border-radius: 1rem;
  background-color: white;
}

.WIPtext {
  color: red;
}

.bookimg {
  width: 10rem;
  height: 15rem;
}

.element {
  border: 1px solid black;
}

.RaamatAndmed {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.RaamatKirj {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

input {cursor: no-drop;}